body{
  background-color: #f1f1f1;
}
#navbar-container{
  height: 3rem;
}
/* Navbar  */
.custom-navbar {
  background-color: #f1f1f1;
}

.custom-navbar .nav-link {
  color: #1f2937;
  font-size: 1rem;
}

.custom-navbar .nav-link:hover {
  color: #576d89;
  transition: color 0.25s ease;
}

/* Hero section */
.hero-section {
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh; 
  color: white;
}

/* Hero text */
.hero-section h1 {
  font-size: 2.5rem;
  margin-bottom: 0rem;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
  padding-left: 1rem;
}
.hero-section p{
   text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
   padding-left: 1rem;
}



.row{
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 3rem;
}

#projects{
  text-align: center;
  padding:2rem;
}

@media (min-width: 768px) {
  .hero-section h1 {
    font-size: 4rem;
    padding-left: 4rem;
  }
  .hero-section p{
    padding-left: 4rem;
  }

  .nav-link:hover {
    color: #576d89;
    transition: color 0.25s ease;
    transform: scale(1.10);
  }
  .row{
  padding-left: 6rem;
  padding-right: 6rem;
  }
}

@media (min-width: 1200px) {
  .hero-section h1 {
    font-size: 6rem;
    padding-left: 6rem;
  }
  .hero-section p{
    font-size: 2rem;
    padding-left: 6rem;
  }
  .custom-navbar .nav-link:hover {
    color: #576d89;
    transition: color 0.25s ease;
    transform: scale(1.10);
  }
  .row{
  padding-left: 10rem;
  padding-right: 10rem;
  }

}

/* navbar logo */ 
.brand-logo {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

/* footer */
.site-footer {
  background-color: #e8e8e8;
  color: #1f2937;
}
.site-footer a {
  display: inline-flex;
  list-style: none;
  text-decoration: none;
  margin-right: 0.5rem;
}


.site-footer .footer-link {
  color: #1f2937;
  font-size: 1.3rem;
  transition: color 0.2s ease, transform 0.2s ease;
}

.site-footer .footer-link:hover {
  color: #576d89;
  transform: scale(1.15);
}



