body{
  background-color: #f1f1f1;
  font-family: "Montserrat", sans-serif;
  padding-top: 55px; /* match navbar height */
}

/* Navbar  */
.custom-navbar {
  background-color: #f1f1f1;
}

.custom-navbar .nav-link {
  color: #1f2937;
  font-size: 1rem;
}

.custom-navbar .nav-link:hover {
  color: #576d89;
  transition: color 0.25s ease;
}

/* Hero section */
.hero-section {
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh; 
  color: white;
}

/* Hero text */
.hero-section h1 {
  font-size: 2.5rem;
  margin-bottom: 0rem;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
  padding-left: 1rem;
}
.hero-section p{
   text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
   padding-left: 1rem;
}

#service{
 background-color: #aac1b8;
}

article{
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 2rem;
}

#header {
  text-align: center;
  padding:2rem;
}

.img-container {
  width: 100%;          
  height: 370px;        
  overflow: hidden;     
}

.img-container img {
  width: 100%;          
  height: 100%;         
  object-fit: cover;    
  object-position: center;
  display: block;      
}
.img-container-abt{
  width: 100%;          
  height: 100%;        
  overflow: hidden;
  padding: 2rem; 
}
.img-container-srv img {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;  /* centers horizontally */
}


@media (min-width: 768px) {
  .hero-section h1 {
    font-size: 4rem;
    
  }

  .nav-link:hover {
    color: #576d89;
    transition: color 0.25s ease;
    transform: scale(1.10);
  }
  .navbar-brand{
  padding-left: 3rem;
}
.navbar-collapse{
    padding-right: 3rem;
  }

  #contact{
  padding-top: 6rem;
}
.navbar{
  padding: 1rem;
}
.flex-grow-1{
margin-top: 1rem;
}


}

@media (min-width: 1200px) {
  .hero-section h1 {
    font-size: 6rem;
    
  }
  .hero-section p{
    font-size: 2rem;
 
  }
  .custom-navbar .nav-link:hover {
    color: #576d89;
    transition: color 0.25s ease;
    transform: scale(1.10);
  }
  
  .navbar-brand{
  padding-left: 6rem;
  }
  .navbar-collapse{
    padding-right: 4rem;
  }
  #contact{
  padding-top: 8rem;
}
.navbar{
  padding: 1.5rem;
}
.flex-grow-1{
margin-top: 2rem;
}

}

/* navbar logo
.brand-logo {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
*/

/* footer */
.site-footer {
  background-color: #e8e8e8;
  color: #1f2937;
}
.site-footer a {
  display: inline-flex;
  list-style: none;
  text-decoration: none;
  margin-right: 0.5rem;
}


.site-footer .footer-link {
  color: #1f2937;
  font-size: 1.3rem;
  transition: color 0.2s ease, transform 0.2s ease;
}

.site-footer .footer-link:hover {
  color: #576d89;
  transform: scale(1.15);
}

#footer-row{
  padding: 0rem;
}
